1001     CURSOR  DISCARDABLE     "Arrow.cur"
1002     CURSOR  DISCARDABLE     "Cross.cur"
1003     CURSOR  DISCARDABLE     "Hand.cur"
1004     CURSOR  DISCARDABLE     "Help.cur"
1005     CURSOR  DISCARDABLE     "Hourglass.cur"
1006     CURSOR  DISCARDABLE     "IBeam.cur"
1007     CURSOR  DISCARDABLE     "Move.cur"
1008     CURSOR  DISCARDABLE     "No.cur"
1009     CURSOR  DISCARDABLE     "Pen.cur"
1010     CURSOR  DISCARDABLE     "SizeNESW.cur"
1011     CURSOR  DISCARDABLE     "SizeNS.cur"
1012     CURSOR  DISCARDABLE     "SizeNWSE.cur"
1013     CURSOR  DISCARDABLE     "SizeWE.cur"
1014     CURSOR  DISCARDABLE     "Up.cur"
1015     CURSOR  DISCARDABLE     "Wait.cur"
