1001     CUSTOM  DISCARDABLE     "Arrow.cur"
1002     CUSTOM  DISCARDABLE     "Cross.cur"
1003     CUSTOM  DISCARDABLE     "Hand.cur"
1004     CUSTOM  DISCARDABLE     "Help.cur"
1005     CUSTOM  DISCARDABLE     "Hourglass.cur"
1006     CUSTOM  DISCARDABLE     "IBeam.cur"
1007     CUSTOM  DISCARDABLE     "Move.cur"
1008     CUSTOM  DISCARDABLE     "No.cur"
1009     CUSTOM  DISCARDABLE     "Pen.cur"
1010     CUSTOM  DISCARDABLE     "SizeNESW.cur"
1011     CUSTOM  DISCARDABLE     "SizeNS.cur"
1012     CUSTOM  DISCARDABLE     "SizeNWSE.cur"
1013     CUSTOM  DISCARDABLE     "SizeWE.cur"
1014     CUSTOM  DISCARDABLE     "Up.cur"
1015     CUSTOM  DISCARDABLE     "Wait.cur"

